extends layout.pug 

block content 
    h3.page-title Recently added

    if id 
        p.message-box Task with id #{ id } was created
    
    if deleted 
        p.message-box Record was deleted

    if updated 
        p.message-box Record was updated

    if (tasks.length)
        ul.tasks 
            each task in tasks
                li.task 
                    a(href="/api/v1/tasks" + task.unId)= task.fullName 
                    .options 
                        a.edit(href="/edit/" + task.id) edit
                        a.delete(href="/delete/" + task.id) delete 
    else 
        p.message-box No data available